/* import nunito sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --brand:#021733;         /* dark blue */
  --brand-dark:#031d43;    /* slightly lighter blue */
  --brand-700:#0b3b24;
  --brand-50:#ecf7f1;
  --ink:#0b1a13;           /* deep text */
  --muted:#6b7280;         /* gray-500 */
  --ring:rgba(15,81,50,.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



html,body{ background:#fff; color:var(--ink); }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito Sans' sans-serif;
}

*:focus-visible{
  outline:2px solid var(--ring);
  outline-offset:2px;
}

/* In your global CSS file */
@media (max-width: 767px) {
  .leaflet-control-zoom,
  .leaflet-control-fullscreen {
    display: none !important;
  }
}